<!DOCTYPE html>
<html>
  <head>
    <title>CPU Blogs</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body class="bg">
    <div class="container">
      <div class="item1">
        <img src="./Photos/logoblog.png" width="350px" />
        <div>
          <input
            type="text"
            class="postinput scope"
            placeholder="who are we looking for ?"
          />
        </div>
        <div class="users">
          <div class="userico">
            <img src="./Photos/user.png" width="60px" class="imgclass" />
            <div class="nameico">
              <h4>Kousay attia</h4>
              <small>Président</small>
            </div>
          </div>
          <div class="userico">
            <img src="./Photos/user.png" width="60px" class="imgclass" />
            <div class="nameico">
              <h4>Yosr Ghanmi</h4>
              <small>Vice-Président</small>
            </div>
          </div>
          <div class="userico">
            <img src="./Photos/user.png" width="60px" class="imgclass" />
            <div class="nameico">
              <h4>Ahmed Chebbi</h4>
              <small>Assistant external affairs</small>
            </div>
          </div>
          <div class="userico">
            <img src="./Photos/user.png" width="60px" class="imgclass" />
            <div class="nameico">
              <h4>Dhia ben hammouda</h4>
              <small>Assistant autonoume</small>
            </div>
          </div>
          <div class="userico">
            <img src="./Photos/user.png" width="60px" class="imgclass" />
            <div class="nameico">
              <h4>Mazen torra</h4>
              <small>chef formation dev</small>
            </div>
          </div>
          <div class="userico">
            <img src="./Photos/user.png" width="60px" class="imgclass" />
            <div class="nameico">
              <h4>Aziz Harzallah</h4>
              <small>chef formation robotic</small>
            </div>
          </div>
          <div class="userico">
            <img src="./Photos/user.png" width="60px" class="imgclass" />
            <div class="nameico">
              <h4>Salma Soued</h4>
              <small>Secrétaire général</small>
            </div>
          </div>
          <div class="userico">
            <img src="./Photos/user.png" width="60px" class="imgclass" />
            <div class="nameico">
              <h4>Foulen ben falten</h4>
              <small>Membre actif</small>
            </div>
          </div>
        </div>
      </div>
      <div id="postcontainer" class="item">
        <div class="postforum">
          <img src="./Photos/Cpu.png" width="100px" />
          <input
            id="postInput"
            width="100%"
            size="30px"
            type="text"
            placeholder="what's on your mind CPU member?"
            class="postinput1"
          />
          <button class="btn-primary-custom" onclick="addPost()">Post</button>
        </div>
        <div class="usericopost">
          <div class="row-layout">
            <div>
              <img src="./Photos/user.png" width="50px" class="imgclass" />
            </div>
            <div class="name">
              <h3 class="truename">Salma Soued</h3>
              <small>Secrétaire général</small>
            </div>
          </div>
          <hr width="95%" />
          <div class="content">
            <p class="blog">
              السلام عليكم
              <br />
              📍 PLAN DE LA SEMAINE ( insha'allah ):
              <br />
              ▫️Dimanche le 17 août, minuit : Deadline d'émission du projet
              proposé par l'équipe DEV (clone de la page web CPU Blog)
              <br />
              ▫️Lundi le 18 août, 8pm : Formation JavaScript .
              <br />
              ▫️Mercredi le 21 août, 8pm: Réunion Seniors.
              <br />
              ▫️Vendredi le 23 août , 8pm: Workshop JavaScript.
              <br />
              ⛔ L 7ajet li mentionnées l fou9 lkol sont très importantes, donc
              l présence obligatoire.
              <br />
              -Les formations li mezelou taw houma li basée 3lihom journée
              d'intégration ( les projets Dev) Donc lundi nes lkol lezem tkoun
              hadhra . <br />
              ⛔W on va tenir compte l présence wel participation mtaakom f sif,
              fi ta9sim les assistants w li bech yformiw f west l aam.
              <br />
              🔴Concernant l reunion senior on va commencer à traiter l hajet li
              lezemna nrak7ouhom bl haja bel haja donc stanew menna barcha des
              réunions okhrin w bien sur l présence obligatoire aussi .
              <br />
              Maadch wa9t fe khaliwna nekhdmou l khedma li mezelt comme il faut.
            </p>

            <div class="interactions">
              <small>20 Likes, 0 comments</small>
            </div>
            <hr width="97%" />
            <div class="LandC">
              <div class="cursor" onclick="Liked(this)">
                <img src="./Photos/like.png" class="myImage" width="30px" />
                <label>Like</label>
              </div>
              <div class="cursor">
                <img
                  src="./Photos/comment.png"
                  width="30px"
                  onclick="focusCommentInput(this)"
                />
                <label>Comment</label>
              </div>
            </div>

            <hr width="97%" />
            <div class="comments-container"></div>
            <input type="text" class="comment" placeholder="add a comment!" />
          </div>
        </div>
        <div class="usericopost">
          <div class="row-layout">
            <img src="./Photos/user.png" width="50px" class="imgclass" />
            <div>
              <h3 class="truename">Aziz Harzallah</h3>
              <small>chef formation robotique</small>
            </div>
          </div>
          <hr width="95%" />
          <div>
            <p class="blog">
              Yaatikom sa7a i ness il kol ili 7adhro w y7ibo y9admo birwa7hom w
              bil club ama raho wajib louled W il mawdhou3 mtaa la7dhour lezimna
              ne9foulo bil behi @Koussay Attaya fi réunion brabi rekzilna aaliha
              il pt hedhi 5atir il gyab 9aaid yzid W m nich na7ki aala lyoum
              kahaw na7ki aala les formations il kol fi robotique w même fi dev
              zeda Snn workshop taada tayara bil interactions w les questions
              mte3kom il kol nistanaw les questions w il feedback mte3kom
            </p>
            <div class="interactions">
              <small>20 Likes, 0 comments</small>
            </div>
            <hr width="97%" />
            <div class="LandC">
              <div class="cursor" onclick="Liked(this)">
                <img src="./Photos/like.png" class="myImage" width="30px" />
                <label>Like</label>
              </div>
              <div class="cursor">
                <img
                  src="./Photos/comment.png"
                  width="30px"
                  onclick="focusCommentInput(this)"
                />
                <label>Comment</label>
              </div>
            </div>

            <hr width="97%" />
            <div class="comments-container"></div>
            <input type="text" class="comment" placeholder="add a comment!" />
          </div>
        </div>
        <div class="usericopost">
          <div class="row-layout">
            <img src="./Photos/user.png" width="50px" class="imgclass" />
            <div>
              <h3 class="truename">Moez Ghodhbani</h3>
              <small>Membre senior</small>
            </div>
          </div>
          <hr width="95%" />
          <div>
            <p class="blog">
              date ta3 réunion senior yezb minimum 3 wala 4 9ball lo9raya bch
              najmou nrak7ou 5edma barcha mazelt hedha awel siif ma7soub hw
              tammm ysirou just 2 réunion senior akhw w9ayt bch ntrattrapou 5tr
              c bon 3 semaine max w a7na 7ata plan ma3ana 3liih 7ata fekra chwy
              détails zeda 3la 7keyet sponsoring 5tr rw bch netlazou blwa9t au
              moin yet9esmou les tache tarkii7 lmatriel lel journée bch kn 3aziz
              wala mazen bch ya3ti cahier de charge wala n7elou tet5dem partiel
              lcode w l'assemblage fi rentrée ya7kii skanderr chwy fi 7keyet
              budget w chyezemna na3mlou bedhabet w mazelt liste twiila w
              apartir ml marra jeya yezm lkol n3oudou na7dhrou
            </p>
            <div class="interactions">
              <small>20 Likes, 0 comments</small>
            </div>
            <hr width="97%" />
            <div class="LandC">
              <div class="cursor" onclick="Liked(this)">
                <img src="./Photos/like.png" class="myImage" width="30px" />
                <label>Like</label>
              </div>
              <div class="cursor">
                <img
                  src="./Photos/comment.png"
                  width="30px"
                  onclick="focusCommentInput(this)"
                />
                <label>Comment</label>
              </div>
            </div>
            <hr width="97%" />
            <div class="comments-container"></div>
            <input type="text" class="comment" placeholder="add a comment!" />
          </div>
        </div>
        <div class="usericopost">
          <div class="row-layout">
            <img src="./Photos/user.png" width="50px" class="imgclass" />
            <div>
              <h3 class="truename">Mazen Torra</h3>
              <small>Chef formation dev</small>
            </div>
          </div>
          <hr width="95%" />
          <div>
            <p class="blog">
              Salem chabeb W9ayet nbdew ndhahrou fi 5edmtna bch nattiriw l
              attention mt3 les étudiants ljdod. Chyahbet post tw 3l page teb3
              rubrique👾 نحكيو برمجة 👾donc kolna react w partage bch nouslou l
              akther nombre mt3 3bed. W nsayef se3a o5ra nb3thlkom lien l meet
            </p>
            <div class="interactions">
              <small>20 Likes, 0 comments</small>
            </div>
            <hr width="97%" />
            <div class="LandC">
              <div class="cursor" onclick="Liked(this)">
                <img src="./Photos/like.png" class="myImage" width="30px" />
                <label>Like</label>
              </div>
              <div class="cursor">
                <img
                  src="./Photos/comment.png"
                  width="30px"
                  onclick="focusCommentInput(this)"
                />
                <label>Comment</label>
              </div>
            </div>
            <hr width="97%" />
            <div class="comments-container"></div>
            <input type="text" class="comment" placeholder="add a comment!" />
          </div>
        </div>
      </div>
      <div class="item3">
        <div class="events1">
          <img src="./Photos/Cpu.png" width="100px" />
          <div>
            <h2>ISIMM Cyberbot 4.0</h2>
            <small>16/02/2025</small>
          </div>
        </div>

        <div class="events-scroll">
          <div class="events">
            <img src="./Photos/Cpu.png" width="100px" />
            <div>
              <h2>Formation Js</h2>
              <small>18/08/2024</small>
            </div>
          </div>
          <div class="events">
            <img src="./Photos/Cpu.png" width="100px" />
            <div>
              <h2>Workshop Js</h2>
              <small>23/08/2024</small>
            </div>
          </div>
          <div class="events">
            <img src="./Photos/Cpu.png" width="100px" />
            <div>
              <h2>Réunion Seniors</h2>
              <small>21/08/2024</small>
            </div>
          </div>
          <div class="events">
            <img src="./Photos/Cpu.png" width="100px" />
            <div>
              <h2>Journé d'integration</h2>
              <small>01/08/2024</small>
            </div>
          </div>
          <div class="events">
            <img src="./Photos/Cpu.png" width="100px" />
            <div>
              <h2>ISIMM Cyberbot 4.0</h2>
              <small>16/02/2025</small>
            </div>
          </div>
          <div class="events">
            <img src="./Photos/Cpu.png" width="100px" />
            <div>
              <h2>Formation Arduino</h2>
              <small>3/03/2025</small>
            </div>
          </div>
          <div class="events">
            <img src="./Photos/Cpu.png" width="100px" />
            <div>
              <h2>interview du passation des seinors</h2>
              <small>15/05/2025</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./functions.js"></script>
  </body>
</html>
