<!DOCTYPE html>
<html>
  <head>
    <title>CPU Blogs</title>
    <link rel="stylesheet" href="./login.css" />
  </head>
  <body>
    <div class="bigpage">
      <form id="loginForm" class="centred" onsubmit="navigateToPage(event); return false;">
        <img src="./Photos/logoblog.png" />
        <input id="name" type="text" class="textinput" placeholder="Name" />
        <input id="role" type="text" class="textinput" placeholder="Role" />
        <input id="password" type="password" class="textinput" placeholder="Password" />
        <button type="submit" class="loginbtn">
          Login
        </button>
      </form>
    </div>
    <script src="./functions.js"></script>
  </body>
</html>
